// FONT FAMILIES

$primary-font: 'Avenir LT W01_35 Light1475496', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$code-font: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;

// FONT SIZES

$ft-1: 4.5;
$ft-2: 4;
$ft-3: 3.5;
$ft-4: 3;
$ft-5: 2.5;
$ft-6: 2;
$ft-7: 1.5;

// FONT LEADING

$hlh: 1.333;
$blh: 1.666;

// KERNING

$kern: -0.025em;

// BORDER

$rad: 3px;

// LAYOUT DIMENSIONS

$gutter: 4rem;
